/* GENERAL STYLES */

html {
    font-size: 16px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'roboto';
    line-height: 1.4rem;
    background-color: hsl(220, 45%, 10%);
    color: #ddd;
    min-width: 300px;
}

a {
    font-weight: 700;
    text-decoration: underline;
}

a:hover {
    background-color: hsl(43, 90%, 53%);
    color: hsl(220, 47%, 10%);
    text-decoration: none;
}

/* NAVIGATION BAR - GENERAL */

#navBar {
    display: flex;
    height: 50px;
    border-bottom: solid 1px hsl(220, 47%, 15%);
    flex-wrap: wrap;
}

.navButton, .toolButton {
    padding-left: 1rem;
    padding-right: 1rem;
    /* line-height: 50px; */
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    border-right: solid 1px hsl(220, 47%, 15%);
    display: flex;
    align-items: center;
}

.navButton:hover {
    color: #ddd;
    background-color: hsl(220, 47%, 7%);
    cursor: pointer;
    /* border-bottom: solid 1px hsl(204, 90%, 53%); */
    text-decoration: underline hsl(204, 90%, 53%);
}

.toolButton:hover {
    color: hsl(43, 90%, 53%);
    background-color: hsl(220, 47%, 7%);
    cursor: pointer;
}

/* NAVIGATION BAR - LOGO */

#shapes {
    max-width: 50px;
    max-height: 25px;
}

.line {
    stroke-width: 10px;
}

#line1 {
    stroke:hsl(323, 90%, 53%);
}

#line2 {
    stroke:hsl(204, 90%, 53%);
}

#line3 {
    stroke:hsl(43, 90%, 53%);
}

#logo {
    font-family:'Courier New', Courier, monospace;
}

#logo:hover {
    color:hsl(204, 90%, 53%);
    text-decoration: none;
}

/* NAVIGATION BAR - SITENAV BUTTONS */

#sitenav {
    display: flex;
    /* align-content: center; */
    align-items: stretch;
}

/* NAVIGATION BAR - TOOL BUTTONS */

#toolbar {
    display: flex;
    margin-left: auto;
}

.fa-external-link-alt{
    /*visibility: hidden;*/
    font-size: 0.7rem;
    vertical-align: super;
}

.fa-github, .fa-moon, .fa-sun {
    font-size: 1.3rem;
    /* line-height: 50px; */
}

.fa-sun {
    display: none;
}

/* MOBILE STYLE - NAVIGATION BAR */

@media screen and (max-width: 600px) {
    #navBar {
        height: 70px;
    }
    
    #logo {
        order: 0;
        border-right: none;
    }

    #shapes {
        max-height: 13px;
    }

    #toolbar {
        order: 1;
        /* height: 40px; */
    }

    #sitenav {
        order: 2;
        flex-basis: 100%;
        border-top: solid 1px hsl(220, 47%, 15%);
        /* height: 40px; */
    }
    
}