/* GENERAL STYLES */

html {
    font-size: 18px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'roboto';
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.7rem;
    background-color: hsl(220, 45%, 15%);
    color: #ddd;
    min-width: 300px;
}

main {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: #ddd;
    border-bottom: solid 2px hsl(323, 90%, 53%);
}

a:hover {
    background-color: hsl(323, 90%, 53%);
    color: hsl(220, 47%, 10%);
    text-decoration: none;
    border-bottom: solid 2px hsl(323, 90%, 53%);
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    font-family: 'share';
    line-height: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    font-family: 'share';
    line-height: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.2rem;
    color: hsl(43, 90%, 53%);
}

p, ul {
    font-size: 1.1rem;
    margin: 0px;
    margin-bottom: 1rem;
}

/* NAVIGATION BAR - GENERAL */

#navBar {
    display: flex;
    height: 50px;
    border-bottom: solid 1px hsl(220, 45%, 15%);
    flex-wrap: wrap;
    background-color: hsl(220, 45%, 10%);
}

.navButton, .toolButton {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    border-right: solid 1px hsl(220, 45%, 15%);
    display: flex;
    align-items: center;
    border-bottom: none;
}

.navButton:hover {
    color: #ddd;
    background-color: hsl(220, 45%, 7%);
    cursor: pointer;
    text-decoration: underline hsl(323, 90%, 53%);
    border-bottom: none;
    font-weight: 400;
}

.toolButton:hover {
    color: hsl(323, 90%, 53%);
    background-color: hsl(220, 45%, 7%);
    cursor: pointer;
    border-bottom: none;
    font-weight: 400;
}

/* NAVIGATION BAR - LOGO */

#shapes {
    max-width: 50px;
    max-height: 25px;
}

.line {
    stroke-width: 10px;
}

#line1 {
    stroke:hsl(323, 90%, 53%);
}

#line2 {
    stroke:hsl(194, 90%, 53%);
}

#line3 {
    stroke:hsl(43, 90%, 53%);
}

#logo {
    font-family:'Courier New', Courier, monospace;
}

#logo:hover {
    color:hsl(323, 90%, 53%);
    text-decoration: none;
}

/* NAVIGATION BAR - SITENAV BUTTONS */

#sitenav {
    display: flex;
    align-items: stretch;
}

/* NAVIGATION BAR - TOOL BUTTONS */

#toolbar {
    display: flex;
    margin-left: auto;
}

.fa-external-link-alt{
    font-size: 0.7rem;
    vertical-align: super;
}

.fa-github, .fa-moon, .fa-sun {
    font-size: 1.3rem;
}

.fa-sun {
    display: none;
}

/* MOBILE STYLE - NAVIGATION BAR */

@media screen and (max-width: 600px) {
    #navBar {
        height: 80px;
    }
    
    #logo {
        order: 0;
        border-right: none;
    }

    #shapes {
        max-height: 13px;
    }

    #toolbar {
        order: 1;
    }

    #sitenav {
        order: 2;
        flex-basis: 100%;
        border-top: solid 1px hsl(220, 45%, 15%);
    }
    
}


/* HOME PAGE - INTRO */

#intro {
    margin-top: 2rem;
}

#description {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
}

#imgcontainer {
    height: 250px;
    overflow: hidden;
    align-items: center;
    flex: 1 1;
}

#imgcontainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100% 40%;
    border: 3px solid hsl(220, 45%, 25%);
}

#description p {
    flex: 1.2 3;
    font-size: 1.3rem;
    line-height: 2rem;
}

#intro article {
    flex-shrink: 3;
}

@media screen and (max-width: 600px) {
    #description {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 1.5rem;
        padding-bottom: 0rem;
    }

    #imgcontainer img {
        width: 300px;
        height: 250px;
    }
}

/* PROJECTS PAGE CONTENT */

#projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: hsl(220, 45%, 10%);
    border: solid 2px hsl(220, 45%, 25%);
}

.projectCard h2 {
    margin-top: 0px;
}

#tags {
    display: flex;
    gap: 0.8rem;
}

#projectLinks {
    display: flex;
    gap: 0.8rem;
    margin-top: 1rem;
}

.projectLink {
    padding: 0.5rem;
    background-color: hsl(220, 45%, 15%);
    border: solid 1px hsl(323, 90%, 53%);
    line-height: 1rem;
}

.projectLink:hover {
    border: solid 1px hsl(220, 45%, 10%);
}